<!DOCTYPE html>
<html>
<head>
  <title>Ada Snaps!</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
  <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class = "container">


    <div class = "header">
      <div class = "brand">
        <h1>Ada Snaps!</h1>
      </div>
    </div>

<div class = "row">

  <div class = "col-sm-2">
    <h2>About</h2>
    <p>
      Give someone a compliment in less than 140 characters!
    </p>
  </div>
  <div class = "col-sm-10">
    <div class = "container-fluid">

      <%= yield %>
    </div>

  </div>

</div>
</div>
</body>
</html>
